<!DOCTYPE html>
<html>
	<head>
		<title>Aghyad Saleh Dot Com</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					
					<a class="brand" href="/">
						<!-- <span style="font-size:24px;">AghyadSaleh</span><span style="font-size:14px;">d<b>o</b>t</span><span style="font-size:18px;">COM</span> -->
						<span style="font-size:23px;">A</span><span style="font-size:17px;">GHYAD</span><span style="font-size:23px;">S</span><span style="font-size:17px;">ALEH</span><span style="font-size:10px;"><b> o </b></span><span style="font-size:17px;">COM</span>
					</a>
					
					<!--
					<div class="nav-collapse">
						<ul class="nav">
							<li><%= link_to "Browse Products", :root %></li>
							<li><%= link_to "Price List", :root %></li>
							<li><%= link_to "Contact Us", :root %></li>
							<li><%= link_to "Cart", :root %></li>
						</ul>
					</div>
					-->
				</div>
			</div>
		</div>
	
		<br><br><br><br>
		<div class="container">
			<div class="row">
				<div class="span3">
					<%= yield :secondary %>
				</div>
				<div class="span9">
					<%= yield :primary %>
				</div>
			</div>
		</div>
		
		<br><br><br><br>
		<div align="center"><h6>Aghyad Saleh 2013 - All Rights Reserved&nbsp;</h6></div>
		
	</body>
</html>